*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.menu, .span, a{
    display: flex;
    gap: 20px;
    color: black;
    font-weight: bold;
}
img{
    width: 60px;
}

.section{
    background-color: #f0eeee;
    width: 100%;
    height: 60%;
}
.content{
    display: flex;
    padding: 60px;
    margin: 0px;
   
}
.content, img{
    width: 90px;

}
h1{
    font-size: 50px;
    position: absolute;
    top: 191px;
    padding: 10px;
    margin: 10px;
    
}
p{
    
    width: 60%;
    font-size: 20px;
    text-align: justify;
    margin-block-start: -2em;
    position: absolute;
    left: 76px;
     line-height: 1.5; 
}
.btn{
    display: flex;
    color: white;
    padding: 10px 20px;
    height: 36px;
    background-color: #24A0ED;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    position: absolute;
    left: 80px;
}
.btn a{
    color: white;
    text-decoration: none;
}
.btn :hover {
  background-color: #357abd; 
}
.section2{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.head img{
    width: 30px;
    height: 30px;
    
}
.head h3{
    font-size: 24px;
    margin-left: 47px;
    position: absolute;
    bottom: 53px;
}
.lorem{
    left: 200px;
    width: 200px;
    text-align: justify;
    margin-block-start: 1em;
    position: absolute;
    right: 179px;;
}
.lorem1{
    left: 606px;
    width: 200px;
    text-align: justify;
    margin-block-start: 1em;
    position: absolute;
    
}
.lorem2{
    left: 1018px;
    width: 200px;
    text-align: justify;
    margin-block-start: 1em;
    position: absolute;
    
}
.btn2 a{
    display: flex;
    color: white;
    padding: 10px 20px;
    height: 36px;
    background-color: #24A0ED;
    border: none;
    border-radius: 8px;
   position: absolute;
    bottom: -300px;  
    left: 236px; 
}
.btn3 a{
    display: flex;
    color: white;
    padding: 10px 20px;
    height: 36px;
    background-color: #24A0ED;
    border: none;
    border-radius: 8px;
   position: absolute;
    bottom: -300px;  
    left: 642px; 
}
.btn4 a{
    display: flex;
    color: white;
    padding: 10px 20px;
    height: 36px;
    background-color: #24A0ED;
    border: none;
    border-radius: 8px;
   position: absolute;
    bottom: -300px;  
    left: 1050px; 
}
h6{
    display: flex;
    padding: 5px;
    margin: 5px;
    color: #706d6d;
    justify-content: start;
    align-items: center;
    height: 100px;
   
}
