.container{
     justify-content: center;
    gap: 7px; 
    display:flex;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: nowrap;
    align-items: center;
}

#container{
     justify-content: center;
    display:flex;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: nowrap;
    align-items: center;
}

.p{
   text-align:center; 
}
.head{
    text-decoration:underline;
    text-weight:bold;
}
p{
    text-weight:bold;
}
#pr{
     color: green;
    font-style: italic;
    font-weight: bold;
}

 .about-container {
      display: flex;         
      align-items: center;    
      gap: 10px;  
      text-decoration:underline;  
      font-weight: bold;         
    }